{
  "openapi": "3.0.3",
  "info": {
    "title": "Payrolls Api",
    "description": "API contracts for payrolls domain",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://payrolls.api.novabook.com",
      "description": "Production"
    },
    {
      "url": "https://payrolls.dev.api.novabook.com",
      "description": "Development"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Clerk JWT authentication token. Obtain via Clerk authentication."
      }
    },
    "schemas": {}
  },
  "paths": {
    "/clients/{clientId}/payroll/schedules/{scheduleId}/pay-runs/{date}/documents": {
      "delete": {
        "operationId": "deletePayrollDocuments",
        "summary": "Delete Payroll Documents",
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scheduleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number",
                      "enum": [
                        200
                      ]
                    },
                    "body": {
                      "type": "object",
                      "properties": {
                        "deletedCount": {
                          "type": "number"
                        }
                      },
                      "required": [
                        "deletedCount"
                      ]
                    }
                  },
                  "required": [
                    "status",
                    "body"
                  ]
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "documentIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "required": [
                  "documentIds"
                ]
              }
            }
          }
        }
      },
      "get": {
        "operationId": "downloadPayrollDocuments",
        "summary": "Download Payroll Documents",
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scheduleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number",
                      "enum": [
                        200
                      ]
                    },
                    "body": {
                      "type": "string",
                      "format": "binary",
                      "description": "Binary data (Buffer)"
                    }
                  },
                  "required": [
                    "status",
                    "body"
                  ]
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "uploadPayrollDocuments",
        "summary": "Upload Payroll Documents",
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scheduleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number",
                      "enum": [
                        200
                      ]
                    },
                    "body": {
                      "type": "object",
                      "properties": {
                        "successful": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "uploadUrl": {
                                "type": "string"
                              },
                              "downloadUrl": {
                                "type": "string"
                              },
                              "filename": {
                                "type": "string"
                              },
                              "documentType": {
                                "type": "string",
                                "enum": [
                                  "supporting_document"
                                ]
                              }
                            },
                            "required": [
                              "id",
                              "uploadUrl",
                              "filename",
                              "documentType"
                            ]
                          }
                        },
                        "failed": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "filename": {
                                "type": "string"
                              },
                              "error": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "filename",
                              "error"
                            ]
                          }
                        }
                      },
                      "required": [
                        "successful",
                        "failed"
                      ]
                    }
                  },
                  "required": [
                    "status",
                    "body"
                  ]
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "documents": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "filename": {
                          "type": "string"
                        },
                        "fileSize": {
                          "type": "number"
                        },
                        "documentType": {
                          "type": "string",
                          "enum": [
                            "supporting_document"
                          ]
                        },
                        "contentType": {
                          "type": "string",
                          "enum": [
                            "application/pdf"
                          ]
                        }
                      },
                      "required": [
                        "filename",
                        "fileSize",
                        "documentType",
                        "contentType"
                      ]
                    }
                  }
                },
                "required": [
                  "documents"
                ]
              }
            }
          }
        }
      }
    },
    "/clients/{clientId}/payroll/schedules/{scheduleId}/pay-runs/{date}/summary": {
      "delete": {
        "operationId": "deletePayrollSummary",
        "summary": "Delete Payroll Summary",
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scheduleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number",
                      "enum": [
                        200
                      ]
                    },
                    "body": {
                      "type": "object",
                      "properties": {}
                    }
                  },
                  "required": [
                    "status",
                    "body"
                  ]
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "getPayrunSummary",
        "summary": "Get Payrun Summary",
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scheduleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number",
                      "enum": [
                        200
                      ]
                    },
                    "body": {
                      "type": "object",
                      "description": "Referenced type: PayrunSummaryResponse (see source contracts for full definition)"
                    }
                  },
                  "required": [
                    "status",
                    "body"
                  ]
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "uploadPayrollSummary",
        "summary": "Upload Payroll Summary",
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scheduleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number",
                      "enum": [
                        200
                      ]
                    },
                    "body": {
                      "type": "object",
                      "properties": {
                        "documentId": {
                          "type": "string"
                        },
                        "filename": {
                          "type": "string"
                        },
                        "employeeCount": {
                          "type": "number"
                        },
                        "downloadUrl": {
                          "type": "string"
                        },
                        "warnings": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      },
                      "required": [
                        "documentId",
                        "filename",
                        "employeeCount",
                        "downloadUrl"
                      ]
                    }
                  },
                  "required": [
                    "status",
                    "body"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/clients/{clientId}/pay-runs/export/new-joiners-csv": {
      "get": {
        "operationId": "exportNewJoinersCSV",
        "summary": "Export New Joiners C S V",
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number",
                      "enum": [
                        200
                      ]
                    },
                    "body": {
                      "type": "object",
                      "description": "Referenced type: ExportNewJoinersCSVResponseBody (see source contracts for full definition)"
                    }
                  },
                  "required": [
                    "status",
                    "body"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/pay-runs": {
      "get": {
        "operationId": "getPayRuns",
        "summary": "Get Pay Runs",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number",
                      "enum": [
                        200
                      ]
                    },
                    "body": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "description": "Referenced type: PayrunResponse (see source contracts for full definition)"
                      }
                    }
                  },
                  "required": [
                    "status",
                    "body"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/clients/{clientId}/people/{personId}": {
      "get": {
        "operationId": "getPayrollPerson",
        "summary": "Get Payroll Person",
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "personId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number",
                      "enum": [
                        200
                      ]
                    },
                    "body": {}
                  },
                  "required": [
                    "status",
                    "body"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/clients/{clientId}/payroll/schedules/{scheduleId}/pay-runs/{date}/changes": {
      "get": {
        "operationId": "getPayrunChanges",
        "summary": "Get Payrun Changes",
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scheduleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number",
                      "enum": [
                        200
                      ]
                    },
                    "body": {
                      "type": "object",
                      "properties": {
                        "salaryChanges": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "salaryId": {
                                "type": "string"
                              },
                              "employeeId": {
                                "type": "string"
                              },
                              "firstName": {
                                "type": "string"
                              },
                              "lastName": {
                                "type": "string"
                              },
                              "clientId": {
                                "type": "string"
                              },
                              "displayDate": {
                                "type": "string"
                              },
                              "effectiveDate": {
                                "type": "string"
                              },
                              "salary": {
                                "type": "object",
                                "properties": {
                                  "amount": {
                                    "type": "number"
                                  },
                                  "precision": {
                                    "type": "number"
                                  },
                                  "currency": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "amount",
                                  "precision",
                                  "currency"
                                ]
                              },
                              "createdDate": {
                                "type": "string"
                              },
                              "joiningDate": {
                                "type": "string"
                              },
                              "proratedAmount": {
                                "type": "object",
                                "description": "Referenced type: MonetaryAmount (see source contracts for full definition)"
                              }
                            },
                            "required": [
                              "salaryId",
                              "employeeId",
                              "firstName",
                              "lastName",
                              "clientId",
                              "displayDate",
                              "salary",
                              "createdDate",
                              "proratedAmount"
                            ]
                          }
                        },
                        "leaverChanges": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "employmentId": {
                                "type": "string"
                              },
                              "personId": {
                                "type": "string"
                              },
                              "leavingDate": {
                                "type": "string"
                              },
                              "accruedHolidayDays": {
                                "type": "number"
                              },
                              "firstName": {
                                "type": "string"
                              },
                              "lastName": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "employmentId",
                              "personId",
                              "leavingDate"
                            ]
                          }
                        },
                        "adjustmentChanges": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "employeeId": {
                                "type": "string"
                              },
                              "scheduleId": {
                                "type": "string"
                              },
                              "payRunDate": {
                                "type": "string"
                              },
                              "amount": {
                                "type": "object",
                                "description": "Referenced type: MonetaryAmount (see source contracts for full definition)"
                              },
                              "type": {
                                "type": "string"
                              },
                              "notes": {
                                "type": "string"
                              },
                              "metadata": {
                                "type": "object",
                                "properties": {}
                              },
                              "firstName": {
                                "type": "string"
                              },
                              "lastName": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "id",
                              "employeeId",
                              "scheduleId",
                              "payRunDate",
                              "amount",
                              "type"
                            ]
                          }
                        },
                        "personEdits": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "personId": {
                                "type": "string"
                              },
                              "employeeId": {
                                "type": "string"
                              },
                              "firstName": {
                                "type": "string"
                              },
                              "lastName": {
                                "type": "string"
                              },
                              "fieldName": {
                                "type": "string"
                              },
                              "value": {},
                              "changedAt": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "personId",
                              "employeeId",
                              "firstName",
                              "lastName",
                              "fieldName",
                              "value",
                              "changedAt"
                            ]
                          }
                        }
                      },
                      "required": [
                        "salaryChanges",
                        "leaverChanges",
                        "adjustmentChanges",
                        "personEdits"
                      ]
                    }
                  },
                  "required": [
                    "status",
                    "body"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/clients/{clientId}/payroll/schedules/{scheduleId}/pay-runs/{date}/uploads": {
      "get": {
        "operationId": "getPayrunUploads",
        "summary": "Get Payrun Uploads",
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scheduleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number",
                      "enum": [
                        200
                      ]
                    },
                    "body": {
                      "type": "object",
                      "properties": {
                        "uploadedDocuments": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "downloadUrl": {
                                "type": "string"
                              },
                              "filename": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "id",
                              "downloadUrl",
                              "filename"
                            ]
                          }
                        },
                        "uploadedSummary": {
                          "type": "object",
                          "properties": {
                            "documentId": {
                              "type": "string"
                            },
                            "documentUrl": {
                              "type": "string"
                            },
                            "filename": {
                              "type": "string"
                            },
                            "warnings": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          "required": [
                            "documentId",
                            "documentUrl",
                            "filename",
                            "warnings"
                          ]
                        }
                      }
                    }
                  },
                  "required": [
                    "status",
                    "body"
                  ]
                }
              }
            }
          }
        }
      }
    }
  }
}